body {
	text-align: center;
	background-image: url("images/Wallpaper.jpg"), url("images/iphone.png"), url("images/mac.jpg");
	background-repeat: no-repeat, no-repeat, repeat;
	background-attachment: fixed, relative, fixed;
    background-position: center 82px, center top, center top; 
	background-size: 232px 408px, auto, 100% auto;
}

img.wallpaper {

	height: 408px;
	width: 229px;
	margin-top: 74px;
	margin-right: 3px;
	position: relative;
}

table {
	border: 1px solid transparent; 
	width: 228px; 
	height: 408px; 
	display: block;
    margin: 78px auto;
	border-collapse:collapse;
}

tr:not(:last-of-type) th{
	width: 60px;
	height: 52px;
	border: 1px solid transparent; 
}

tr:first-of-type th {
	padding-top: 10px;
}

tr:last-of-type {
	background-color: #595959;
	height: 60px;
	padding-top: 20px;
}

tr:nth-last-of-type(2) th {
    padding-bottom: 8px;
}

tr:last-of-type th {
	padding-top: 10px;
}

img {
	width: 40px;
	height: 40px;
	text-align: center;
	margin-left: 1px;
}

th {
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8px;
	font-weight: 100;
}

