body {
	text-align: center;
	background-image: url("images/iphone.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center top; 
}

img.black {
/*
top left:
x = 33
y = 82

bottom right:
x = 263
y = 490
*/
	height: 408px;
	width: 229px;
	margin-top: 74px;
	margin-right: 3px;

}