body {
	text-align: center;
	background-image: url("images/iphone.png"), url("images/mac.jpg");
	background-repeat: no-repeat, repeat;
	background-attachment: fixed;
    background-position: center top; 
	background-size: auto, 100% auto;
}

#title {
	text-align: center;
	position: absolute;
	margin-left: 20px;
	text-align: left;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.black {
/*
top left:
x = 33
y = 82

bottom right:
x = 263
y = 490
*/
	height: 408px;
	width: 229px;
	margin-top: 74px;
	margin-left: 1px;

	position: relative;
}

button {
	background: transparent;
    border: none !important;
    font-size:0;
	margin-top: 9px;
	margin-right: 4px;
	padding: 16px 16px;

}

button:focus {
	outline:0;
}